<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div>
      <div class="text-white bg-dark p-3  text-center">
        <header>
          <h2>
            Home page contact
          </h2>
        </header>
      </div>

      <div class="p-2 mb-2  bg-light">
        <nav class="nav">
          <a class="nav-link active" style="padding-left:4rem" href="#"
            >Active</a
          >
          <a class="nav-link " href="#">Link</a>
          <a class="nav-link" href="#">Link</a>
          <a class="nav-link disabled" href="#">Disabled</a>
        </nav>
      </div>

      <div class="body row mt-3 ml-4" style="height: 100%">
        <div
          class=" h-75 bg-light col-md-7 border  ml-5 mr-3 pt-4"
          style="width: 100px; height: 200px"
        >
          <u>
            <li>Aise hi na dekhe thy na usme</li>
            <li>Allah greh rakhenge mai edhar leke bhadhaoni</li>
            <li>Kitna chota palatfarm h drawer khol aise ban jayega</li>
          </u>
        </div>
        <div class="side-contant bg-light col-md-3 border mr-2 w-25 h-75 pt-4 ">
          <u>
            <li>Aise hi na dekhe thy na usme</li>
            <li>Allah greh rakhenge mai edhar leke bhadhaoni</li>
            <li>Kitna chota palatfarm h drawer khol aise ban jayega</li>
          </u>
        </div>
      </div>
      <div class="text-white bg-dark p-3 mr-3  text-center fixed-bottom">
        <footer>
          <h2>
            Someone famous in
          </h2>
        </footer>
      </div>
    </div>
  </body>
</html>
